#createPollForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}
#question {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  font-size: var(--font-size-2xl);
}
.option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.option textarea {
  font-size: var(--font-size-lg);
  width: 80%;
}
.option-left,
.option-right {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option-left span {
  display: inline-block;
  width: var(--font-size-lg);
  height: var(--font-size-lg);
  border-radius: 50%;
  border: 2px solid var(--gray-100);
  margin: 0 auto;
}
.option-right div {
  cursor: pointer;
  transition: all 0.3s;
  padding: 5px;
  border-radius: 50%;
  height: var(--font-size-3xl);
  width: var(--font-size-3xl);
  font-size: var(--font-size-lg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-right div:hover {
  background-color: var(--danger);
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#error-message {
  color: var(--danger);
  margin-top: 10px;
  display: none;
}

#add-option {
  margin-top: 20px;
}
